.container{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-background);

    .containerTitle{
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .title{
            color: var(--clr-purple);
            font-size: 2.5em;
            font-weight: bold;
        }

        .subTitle{
            color: var(--clr-subDark);
            font-size: 1em;
            text-align: center;
        }
    }

    .projectBox{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5em;

        .projectTitle{
            width: 40%;
            height: 10vh;
            color: var(--clr-purple);
            font-size: 1.5em;
            padding-left: 2em;
  
            .titleStyle{
                width: 60%;
                height: 10%;
                margin-top: .2em;
                background-color: var(--clr-white);
                border-radius: 1em;
                border: 2px solid var(--clr-purple);
            }
        }

        .contentBox{
            width: 95%;
            // height: 70vh;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 3em;
            margin: 0 auto;

            .box{
                width: 350px;
                height: 35vh;
                border-radius: .5em;
                position: relative;
                background-color: var(--clr-white);
                margin-right: 3em;
                margin-bottom: 1em;

                .imageBox{
                    width: 80%;
                    height: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    
                    img{
                        height: 100%;
                        transition: .3s all ease;
                        border-radius: .5em;

                        &:hover{
                            scale: 1.1;
                        }
                    }

                }

                .imageBadge{
                    width: 100%;
                    height: 30%;
                    background-color: var(--clr-purple);
                    border-radius: .5em;
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    flex-direction: row;

                    .projectContent{
                        width: 80%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding-left: 1em;

                        .projectName{
                            width: 100%;
                            height: 30%;
                            font-size: 1em;
                            color: var(--clr-white);
                            font-weight: bold;
                        }

                        .projectDes{
                            width: 100%;
                            height: 30%;
                            font-size: 1em;
                            color: var(--clr-white);
                        }
                    }

                    .externalBtn{
                        width: 30%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        svg{
                            cursor: pointer;
                            scale: 1;
                            transition: .3s all ease;

                            &:hover{
                                scale: 1.3;
                            }
                        }
                    }
                
                }
            }
        }

        .viewAllBtn{
            width: 12%;
            height: 7vh;
            background-color: transparent;
            font-size: 1.5em;
            color: #383838;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border: 2px solid #383838;
            border-radius: .5em;
            margin: 0 auto; 
            cursor: pointer;
            transition: .3s all ease;

            &:hover{
                background-color: var(--clr-purple);
                color: var(--clr-white);
                border-color: var(--clr-purple);
            }
        }

    }
}