.container {
  width: 100vw;
  height: 100%;
  background-color: var(--clr-background);
  display: flex;
  flex-direction: column;

  .heroSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3em;

    .heroContent {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .welcome {
        width: 100%;
        color: var(--clr-purple);
        font-size: 3em;
        line-height: 1.5em;
        display: flex;
      }

      .quote {
        width: 100%;
        margin-top: 1em;
        color: var(--clr-sub);
        font-size: 2em;
      }

      .talkBtnContainer {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin-top: 1em;

        .talkBtn {
          width: 10em;
          padding: 0.8em;
          background-color: var(--clr-purple);
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          color: var(--clr-white);
          font-size: 1.5em;
          border-radius: 0.5em;
          margin-top: 1em;
          cursor: pointer;
          border: 2px solid var(--clr-purple);
          transition: .3s all ease;

          &:hover{
            background-color: transparent;
            color: var(--clr-subDark);
            border: 2px solid var(--clr-subDark);
          }
        }
      }

      .inspiration {
        width: 100%;
        color: var(--clr-subDark);
        font-size: 3em;
        line-height: 1.5em;
      }
    }

    .heroImage {
      width: 40%;
      height: 100%;

      .img {
        width: 85%;
        border-radius: 1em;
      }
    }
  }

  .heroSection::after {
    content: "";
    width: 0;
    height: 5vh;
    rotate: -5deg;
    background-color: var(--clr-purple);
    position: absolute;
    bottom: 10em;
    display: flex;
    align-items: center;
    margin-top: 5em;
    padding-left: 10em;
    color: var(--clr-white);
    animation: banner 3s linear forwards;
  }

  @keyframes banner {
    0% {
      width: 0vw;
    }
    100% {
      content: "Metaphorlism will make your metaphors into reality !!!";
      width: 101vw;
    }
  }

  .teamSection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .teamTitle {
      width: 100%;
      height: 10vh;
      color: var(--clr-purple);
      font-size: 3em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 1em;
      margin-bottom: 1em;

      div {
        padding-left: 0.1em;
      }

      .titleStyle {
        width: 25%;
        background-color: var(--clr-white);
        padding: 0.1em;
        border: 2px solid var(--clr-purple);
        border-radius: 1em;
      }
    }

    .team {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;

      .memberPriCol {
        width: 100%;
        height: 100vh;
        background-color: var(--clr-purple);
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        padding-top: 2em;
        margin-bottom: 1em;

        .profile {
          width: 50%;
          height: 20%;
          display: flex;

          .profileImg {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .img {
              height: 100%;
              border-radius: 50%;
            }
          }

          .profileText {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 3em;
            color: var(--clr-white);

            .name {
              width: 100%;
              font-size: 2em;
              font-weight: bold;
            }

            .age {
              width: 100%;
              font-size: 2em;
            }
          }
        }

        .memberContent {
          width: 100%;
          height: 80%;
          display: flex;

          .col1 {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 2em;
            margin-top: 5em;

            .education {
              width: 100%;
              height: 40%;
              display: flex;
              flex-direction: column;

              .educationTitle {
                width: 20%;
                font-size: 1.5em;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                color: var(--clr-white);

                svg {
                  fill: var(--clr-white);
                }
              }

              .educationContent {
                width: 80%;
                height: 80%;
                font-size: 1.5em;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                color: var(--clr-white);

                margin: 0 auto;

                .talkBtn {
                  width: 10em;
                  padding: 0.8em;
                  background-color: var(--clr-purple);
                  display: flex;
                  justify-content: space-evenly;
                  align-items: center;
                  color: var(--clr-white);
                  font-size: 1.5em;
                  border-radius: 0.5em;
                  margin-top: 1em;
                  cursor: pointer;
                  border: 2px solid var(--clr-purple);
                  transition: 0.3s all ease;

                  &:hover {
                    background-color: transparent;
                    border: 2px solid #383838;
                    color: #383838;
                  }
                }
              }
            }

            .experience {
              width: 100%;
              height: 40%;
              display: flex;
              flex-direction: column;

              .experienceTitle {
                width: 20%;
                font-size: 1.5em;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                color: var(--clr-white);

                svg {
                  fill: var(--clr-white);
                }
              }

              .experienceContent {
                width: 80%;
                height: 80%;
                font-size: 1.5em;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                color: var(--clr-white);

                margin: 0 auto;

                li {
                  height: 5vh;
                  line-height: 2em;
                }
              }
            }
          }

          .col2 {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 2em;
            margin-top: 5em;

            .capability {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .capabilityTitle {
                width: 40%;
                font-size: 1.5em;
                display: flex;
                align-items: center;
                color: var(--clr-white);

                svg {
                  margin-right: 1em;
                  stroke: var(--clr-white);
                }
              }

              .capabilityContent {
                width: 90%;
                height: 70%;
                font-size: 1.5em;
                background-color: var(--clr-white);
                border-radius: 1em;
                margin-top: 1em;
                color: var(--clr-purple);
                padding: 2em;
                line-height: 2em;
              }
            }
          }
        }
      }

      .memberWhiCol {
        width: 100%;
        height: 100vh;
        background-color: var(--clr-background);
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        padding-top: 2em;

        .profile {
          width: 50%;
          height: 20%;
          display: flex;

          .profileImg {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .img {
              height: 100%;
              border-radius: 50%;
            }
          }

          .profileText {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 3em;
            color: var(--clr-subDark);

            .name {
              width: 100%;
              font-size: 2em;
              font-weight: bold;
            }

            .age {
              width: 100%;
              font-size: 2em;
            }
          }
        }

        .memberContent {
          width: 100%;
          height: 80%;
          display: flex;

          .col1 {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 2em;
            margin-top: 5em;

            .education {
              width: 100%;
              height: 40%;
              display: flex;
              flex-direction: column;

              .educationTitle {
                width: 20%;
                font-size: 1.5em;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                color: var(--clr-purple);

                svg {
                  fill: var(--clr-purple);
                }
              }

              .educationContent {
                width: 80%;
                height: 80%;
                font-size: 1.5em;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                color: var(--clr-subDark);

                margin: 0 auto;

                li {
                  height: 5vh;
                  line-height: 2em;
                }
              }
            }

            .experience {
              width: 100%;
              height: 40%;
              display: flex;
              flex-direction: column;

              .experienceTitle {
                width: 20%;
                font-size: 1.5em;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                color: var(--clr-purple);

                svg {
                  fill: var(--clr-purple);
                }
              }

              .experienceContent {
                width: 80%;
                height: 80%;
                font-size: 1.5em;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                color: var(--clr-subDark);
                margin: 0 auto;

                li {
                  height: 5vh;
                  line-height: 2em;
                }
              }
            }
          }

          .col2 {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 2em;
            margin-top: 5em;

            .capability {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .capabilityTitle {
                width: 40%;
                font-size: 1.5em;
                display: flex;
                align-items: center;
                color: var(--clr-purple);

                svg {
                  margin-right: 1em;
                  stroke: var(--clr-purple);
                }
              }

              .capabilityContent {
                width: 90%;
                height: 70%;
                font-size: 1.5em;
                background-color: var(--clr-purple);
                border-radius: 1em;
                margin-top: 1em;
                color: var(--clr-white);
                padding: 2em;
                line-height: 2em;
              }
            }
          }
        }
      }
    }
  }

  .serviceSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;

    .serviceTitle {
      width: 100%;
      height: 10vh;
      color: var(--clr-purple);
      font-size: 3em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 1em;
      margin-bottom: 1em;

      div {
        padding-left: 0.1em;
      }

      .titleStyle {
        width: 25%;
        background-color: var(--clr-white);
        padding: 0.1em;
        border: 2px solid var(--clr-purple);
        border-radius: 1em;
      }
    }

    .serviceContent {
      width: 95%;
      height: 90vh;
      margin: 0 auto;
      background-color: var(--clr-purple);
      border-radius: 0.5em;
      display: flex;
      flex-direction: column;

      .row1 {
        width: 100%;
        height: 50%;
        display: flex;
        padding: 3em;

        .serviceProvide {
          width: 70%;
          height: 100%;
          font-size: 2em;
          color: var(--clr-white);

          ol {
            padding: 1em;

            li {
              line-height: 1.5em;
              opacity: 0.8;
            }
          }
        }

        .btnContainer {
          width: 30%;
          height: 100%;
          display: flex;
          flex-direction: column;
          font-size: 2em;
          color: var(--clr-white);

          .btn {
            width: 50%;
            height: 20%;
            background-color: var(--clr-white);
            cursor: pointer;
            color: var(--clr-purple);
            border-radius: 0.3em;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1em;
            margin-top: 1em;
            transition: .3s all ease;

            &:hover{
              width: 100%;
            }
          }
        }
      }

      .row2 {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .box{
          width: 30%;
          height: 80%;
          display: flex;
          flex-direction: column;

          .boxImage {
            width: 50%;
            height: 30%;
            margin-bottom: 3em;
    
            img {
              height: 100%;
            }
          }
    
          .boxName {
            height: 15%;
            font-size: 1.5em;
            font-weight: bold;
            color: var(--clr-white);
          }
    
          .boxContent {
            height: 30%;
            font-size: 1.5em;
            color: var(--clr-white);
          }
        }
      }
      
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
  
    .heroSection {
      width: 100vw;
      height: 150vh;
      flex-direction: column-reverse;
  
      .heroContent {
        width: 100%;
        height: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .welcome{
          font-size: 2em;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .quote {
          font-size: 1em;
        }
  
        .talkBtnContainer {
          width: 70%;
          height: 10vh;
          border-radius: 10px;
          margin-bottom: 1em;
  
          .talkBtn {
            width: 100%;
          }
        }
  
        .inspiration {
          font-size: 2em;
        }
      }
  
      .heroImage {
        width: 100%;
        height: 40%;
  
        .img {
          width: 100%;
          border-radius: 0em;
        }
      }
    }
  
    .heroSection::after {
      content: "Metaphorlism will make your metaphors into reality !!!";
      height: 8vh;
      bottom: 10em;
      width: 105vw;
      padding-left: 3em;
      animation: none;
      font-size: 0.8em;
    }
    //done
  
    .teamSection {
  
      .teamTitle {
        width: 100%;
        height: 10vh;
        font-size: 2em;
        padding-left: .5em;
  
        .titleStyle {
          width: 75%;
        }
      }
  
      .team {
  
        .memberPriCol {
          padding-top: 0;
          margin-bottom: 0;

          .profile {
            width: 100%;
            height: 20%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
  
            .profileImg {
              width: 100%;
              height: 70%;
  
              .img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
              }
            }
  
            .profileText {
              width: 100%;
              height: 30%;
              line-height: 2em;
              display: flex;
              text-align: center;
  
              .name {
                font-size: 1.5em;
              }
  
              .age {
                font-size: 1em;
              }
            }
          }
  
          .memberContent {
            flex-direction: column;
  
            .col1 {
              width: 100%;
              height: 50%;
              display: flex;
              flex-direction: column;
              margin-top: 0em;
              padding-left: 0;
              padding: 2em;
  
              .education {
  
                .educationTitle {
                  width: 100%;
                  font-size: 1.5em;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                

                  svg{
                    margin-right: 1em;
                  }
                }
  
                .educationContent {
                  width: 100%;
                  font-size: 1em;
  
                  margin: 0 auto;
  
                  .talkBtn {
                    width: 10em;
                    padding: 0.8em;
                    background-color: var(--clr-purple);
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    color: var(--clr-white);
                    font-size: 1.5em;
                    border-radius: 0.5em;
                    margin-top: 1em;
                    cursor: pointer;
                    border: 2px solid var(--clr-purple);
                    transition: 0.3s all ease;
  
                    &:hover {
                      background-color: transparent;
                      border: 2px solid #383838;
                      color: #383838;
                    }
                  }
                }
              }
  
              .experience {
  
                .experienceTitle {
                  width: 100%;
                  font-size: 1.5em;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-top: 1em;

                  svg{
                    margin-right: 1em;
                  }
                }
  
                .experienceContent {
                  width: 100%;
                  height: 80%;
                  font-size: 1em;
                  margin-top: 1em;

                  li{
                    width: 100%;
                    line-height: 1.2em;
                  }
                }
              }
            }
  
            .col2 {
              width: 100%;
              height: 50%;
              padding-left: 0em;
              margin-top: 0em;
  
              .capability {
                justify-content: center;
                align-items: center;
  
                .capabilityTitle {
                  width: 100%;
                  font-size: 1.5em;
                  display: flex;
                  justify-content: center;
                  align-items: center;
  
                  svg {
                    margin-right: 1em;
                    stroke: var(--clr-white);
                  }
                }
  
                .capabilityContent {
                  height: 70%;
                  font-size: 1em;
                  border-radius: 10px;
                  margin-top: 0em;
                  padding: 1em;
                  line-height: 1.2em;
                }
              }
            }
          }
        }

        .memberWhiCol {
          padding-top: 0;
          margin-top: 0;
          margin-bottom: 0;

          .profile {
            width: 100%;
            height: 20%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
  
            .profileImg {
              width: 100%;
              height: 70%;
  
              .img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
              }
            }
  
            .profileText {
              width: 100%;
              height: 30%;
              line-height: 2em;
              display: flex;
              text-align: center;
  
              .name {
                font-size: 1.5em;
              }
  
              .age {
                font-size: 1em;
              }
            }
          }
  
          .memberContent {
            flex-direction: column;
  
            .col1 {
              width: 100%;
              height: 50%;
              display: flex;
              flex-direction: column;
              margin-top: 0em;
              padding-left: 0;
              padding: 2em;
  
              .education {
                margin-top: 0;
  
                .educationTitle {
                  width: 100%;
                  font-size: 1.5em;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                

                  svg{
                    margin-right: 1em;
                  }
                }
  
                .educationContent {
                  width: 100%;
                  font-size: 1em;
                  margin: 0 auto;

                  li{
                    margin-top: 1em;
                  }
  
                  .talkBtn {
                    width: 10em;
                    padding: 0.8em;
                    background-color: var(--clr-purple);
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    color: var(--clr-white);
                    font-size: 1.5em;
                    border-radius: 0.5em;
                    margin-top: 1em;
                    cursor: pointer;
                    border: 2px solid var(--clr-purple);
                    transition: 0.3s all ease;
  
                    &:hover {
                      background-color: transparent;
                      border: 2px solid #383838;
                      color: #383838;
                    }
                  }
                }
              }
  
              .experience {
                margin-top: 0.5em;

                .experienceTitle {
                  width: 100%;
                  font-size: 1.5em;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-top: 1em;

                  svg{
                    margin-right: 1em;
                  }
                }
  
                .experienceContent {
                  width: 100%;
                  height: 80%;
                  font-size: 1em;
                  margin-top: 1em;

                  li{
                    line-height: 1.5em;
                  }

                }
              }
            }
  
            .col2 {
              width: 100%;
              height: 50%;
              padding-left: 0em;
              margin-top: 0em;
  
              .capability {
                justify-content: center;
                align-items: center;
  
                .capabilityTitle {
                  width: 100%;
                  font-size: 1.5em;
                  display: flex;
                  justify-content: center;
                  align-items: center;
  
                  svg {
                    margin-right: 1em;
                  }
                }
  
                .capabilityContent {
                  height: 70%;
                  font-size: 1em;
                  border-radius: 10px;
                  margin-top: 0em;
                  padding: 1em;
                  line-height: 1.2em;
                }
              }
            }
          }
        }
  
      }
    }
  
    .serviceSection {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      margin-bottom: 5em;
  
      .serviceTitle {
        font-size: 2em;
  
        .titleStyle {
          width: 75%;
        }
      }
  
      .serviceContent {
  
        .row1 {
          flex-direction: column;
  
          .serviceProvide {
            width: 100%;
            height: 70%;
            font-size: 1.2em;
  
            ol {
              padding: 1em;
  
              li {
                line-height: 1.5em;
                opacity: 0.8;
              }
            }
          }
  
          .btnContainer {
            width: 100%;
            height: 30%;
            font-size: 1.2em;
  
            .btn {
              width: 100%;
              height: 40%;
            }
          }
        }
  
        .row2 {
          flex-direction: column;
  
          .box{
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 1em;
  
            .boxImage {
              width: 40%;
              height: 100%;
              margin-bottom: 3em;
              display: flex;
              justify-content: center;
              align-items: center;
      
              img {
                width: 50px;
                height: 50px;
              }
            }
      
            .boxName {
            display: none;
            }
      
            .boxContent {
              width: 50%;
              height: 100%;
              font-size: .8em;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        
      }
    }
  }
}
