@use "../../abstract/mixin" as *;

.container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  font-family: "Jaldi", sans-serif;
  font-size: 1.6rem;
  background-color: #eeeeee;
  align-items: center;
  padding: 0.4em 1.3em;
  gap: 1em;
  z-index: 1000;

  .hamburger {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5em;

    img {
      width: 3em;
      height: 3em;
      overflow: hidden;
      border-radius: 50%;
    }

    .name {
      font-size: 1.2em;
      font-weight: 400;
      color: var(--clr-purple);
    }
  }

  .linkContainer {
    display: flex;
    margin-left: auto;
    gap: 1em;
    font-size: 0.7em;

    .link {
      display: flex;
      align-items: center;
      color: var(--clr-purple);
      gap: 0.3em;
      cursor: pointer;
      padding: 0.3em 1.2em;
      border-radius: 10px;
      position: relative;

      svg {
        fill: var(--clr-purple);
      }

      &.home {
        margin-left: auto;

        svg {
          stroke: var(--clr-purple);
          fill: none;
        }
      }

      &:hover:not(.active) {
        &::after,
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 10px;
        }

        &::before {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          background-color: var(--clr-background);
          bottom: 0.3em;
          z-index: -1;
        }

        &::after {
          left: 50%;
          right: 50%;
          background: var(--clr-purple);
          z-index: -2;

          animation: HoverLink 0.3s ease forwards;
        }
      }
    }
  }
}

.container .linkContainer {
  .link.active {
    color: #fff;

    svg {
      fill: #fff;
    }

    &.home svg {
      stroke: #fff;
      fill: var(--clr-purple);
    }

    background-color: var(--clr-purple);
  }

  .link.clickAnimation {
    color: #fff;

    svg {
      fill: #fff;
    }

    &.home svg {
      stroke: #fff;
      fill: var(--clr-purple);
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 10px;
    }

    &::before {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      background-color: var(--clr-background);
      bottom: 0.3em;
      z-index: -1;

      animation: ClickLink 0.1s ease forwards;
    }

    &::after {
      background: var(--clr-purple);
      z-index: -2;
    }
  }
}

@keyframes HoverLink {
  to {
    left: 0;
    right: 0;
  }
}

@keyframes ClickLink {
  to {
    bottom: 100%;
  }
}

@include for-mobile {
  .container {
    padding: 0.1em 0.5em;
    box-shadow: 0 0 10px 0 #0007;

    .logo {
      img {
        width: 2em;
        height: 2em;
      }

      .name {
        font-size: 1.2rem;
      }
    }

    .hamburger {
      display: flex;
      margin-left: auto;
      margin-right: 1em;
      cursor: pointer;
    }

    .linkContainer {
      position: absolute;
      flex-direction: column;
      right: 0;
      top: 100%;
      gap: 0.2em;
      padding: 0 1em 0.5em 1em;
      background-color: var(--clr-background);
      overflow: hidden;
      border-radius: 0 0 10px 10px;
      box-shadow: -1px 3px 2px #0005;
      scale: 1 0;
      translate: 0 -50%;
      transition: all 0.3s ease-in-out;

      &.active {
        translate: 0 0;
        scale: 1 1;
      }

      .link {
        font-size: 0.7em;

        svg {
          scale: 0.8;
        }

        &.home {
          margin-left: 0;
        }
      }
    }
  }
}
