.container {
  background-color: #eeeeee;
  display: flex;
  font-family: "Jaldi", sans-serif;
  font-size: 1.1em;
  align-items: center;
  padding: 1em 1.5em;
  gap: 0.2em;
  position: fixed;
  width: 100%;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5em;

    img {
      width: 2em;
      height: 2em;
      background-color: black;
      overflow: hidden;
      border-radius: 50%;
    }

    .name {
      font-size: 1.2em;
      font-weight: 400;
      color: var(--clr-purple);
    }
  }

  .link {
    display: flex;
    align-items: center;
    color: var(--clr-purple);
    gap: 0.3em;
    cursor: pointer;
    padding: 0.3em 1.2em;
    border-radius: 10px;

    svg {
      fill: var(--clr-purple);
    }

    &.home {
      margin-left: auto;

      svg {
        stroke: var(--clr-purple);
        fill: none;
      }
    }
  }
}

div.link.active {
  color: #fff;

  svg {
    fill: #fff;
  }

  &.home svg {
    stroke: #fff;
  }

  background-color: var(--clr-purple);
}
