@use "../../abstract/mixin" as *;

.wrapper {
  font-size: 0.625rem;

  .title {
    text-align: center;
    font-size: 3.85em;
    color: var(--clr-purple);
    margin-bottom: 3.5em;
  }

  .serviceContainer {
    display: flex;
    justify-content: center;
    gap: 5em;

    .next {
      display: none;
    }
  }

  @include for-mobile {
    .title {
      margin-bottom: 0;
    }

    .serviceContainer {
      display: block;
      height: 50em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      max-width: 40em;

      .next {
        display: block;
        position: absolute;
        right: 1.5em;
        top: 1em;
        scale: 1.5;
        animation: Blinking 1.3s ease-in-out infinite;

        svg {
          fill: black;
          rotate: -90deg;
        }
      }

      span {
        > * {
          position: absolute;
          top: 6em;
          left: 0;
          right: 0;
          bottom: 0;
          display: none;
        }

        &.active {
          > * {
            display: block;
          }
        }
      }
    }
  }
}

@keyframes Blinking {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
