@use "../../abstract/mixin" as *;

.container {
  --width: 65ch;

  background-color: var(--clr-white);
  font-size: 0.625rem;
  width: var(--width);
  height: 50em;
  position: relative;
  border-radius: 10px;
  padding: 3em 0.5em 0 0.5em;

  button {
    position: absolute;
    color: var(--clr-white);
    font-size: 1.7em;
    background-color: var(--clr-purple);
    text-decoration: none;
    padding: 0.3em 0.8em;
    border-radius: 10px;
    bottom: 0.5em;
    right: 0.5em;
    cursor: pointer;
    border: 0;

    &:visited,
    &:active {
      color: var(--clr-white);
    }
  }

  img {
    --length: 14em;

    position: absolute;
    width: var(--length);
    height: var(--length);
    top: calc(-0.85 * var(--length));
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  h2 {
    font-weight: 400;
    color: var(--clr-purple);
    font-size: 3em;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 1.92em;
  }
}

@include for-ipad {
  .container {
    --width: 52ch;
  }
}

@include for-mobile {
  .container {
    width: auto;
    height: auto;
    margin: 0 1.5em;

    img {
      --length: 8em;
      top: calc(-0.65 * var(--length));
    }
  }
}
